@{
    ViewBag.Title = "Home Page";
}

<div class="left">
    <h1><u>Welcome to the Theatre app!</u></h1>
</div>

<style>
    
    h1 {
        padding-top: 50px;
    }

    #welcomeText {
        font-size: 20px;
    }

</style>

<div class="row" style="padding-top: 5em;">

    <div class="col-sm-6"> <img src="~/Images/undraw_videographer_nnc7 (1).svg" class="img-responsive margin" style="width:100%;height:450px" alt="Image" /> </div>
    <div class="col-md-4 text-justify">
        <p id="welcomeText">
            Welcome to the theatre app where all film and theatre lovers can post reviews, blog posts and chat between themselves. To make full use of this app 
            <b>please register an account or sign in.</b> Once signed in you will be able to take part within the community and contribute. Remeber to always treat other members with respect and refrain from posting/commenting any foul content as this will result in a suspension.
        </p>

        <br />
    </div>
</div>

<h2><u>Rules!</u></h2>

<div class="row" style="padding-top: 5em;">

    <div class="col-md-6 text-justify" id="welcomeText">
        <ul id="rulesText">
            <li>Be respectful to other users at all times.</li>
            <li>Do not post foul content.</li>
            <li>Please do not spam posts.</li>
            <li>Avoid discussing sensitive topics such as Religion/Politics.</li>
            <li>Malicious or NSFW links are prohibited.</li>
            <li>Admins/mods are here to help, ask away!</li>
            <li>All posts will be approved or declined by an admin or mod.</li>
            <li>Have fun!</li>
        </ul>
    </div>
    <div class="col-sm-5"> <img src="~/Images/rules.svg" class="img-responsive margin" style="width:100%;height:450px" alt="Image" id="img2"/> </div>
</div>