@{
    ViewBag.Title = "Home Page";
}

<div class="left">
    <h1>Welcome to the Theatre app!</h1>
</div>

<style>
    
    h1 {
        padding-top: 50px;
    }


    body {
        background-color: #b1b1b1;
        font-family: 'Fredoka One', cursive;
    }

    #welcomeText {
        font-size: 20px;
    }
</style>

<div class="row" style="padding-top: 5em;">

    <div class="col-sm-6"> <img src="~/Images/undraw_videographer_nnc7 (1).svg" class="img-responsive margin" style="width:100%;height:450px" alt="Image" /> </div>
    <div class="col-md-4 text-justify">
        <p id="welcomeText">
            Welcome to the theatre app where all film and theatre lovers can post reviews, blog posts and chat between themselves. To make full use of this app 
            <b>please register an account or sign in.</b> Once signed in you will be able to take part within the community and contribute. Remeber to always treat other members with respect and refrain from posting/commenting any foul content as this will result in a suspension.
        </p>

        <br />
    </div>
</div>